<div class="spaced-section" data-section-type="slider-bar-products" id="slider-bar-products">
    <div class="container section-content">
      {%- if section.settings.title != blank -%}
        <h2 class="section-heading card-title-edted align-center" data-cc-animate>
          {{ section.settings.title | escape }}
        </h2>
      {%- endif -%}
      {%- if section.settings.subtitle != blank -%}
        <h4 class="section-heading card-subtitle-edted align-center" data-cc-animate>
          {{ section.settings.subtitle | escape }}
        </h4>
      {%- endif -%}
        <div class="containerListAndArrows">
            <div class="leftarrowproducts" id="leftarrow">&lt;</div>
            <div class="ProductsFlex grid--row-gutters product-list" id="hoveredProductDisplay">
                    {%- if section.blocks.size > 0 -%}
                    {%- liquid
                        if settings.coll_card_image_ratio == 'shortest'
                        assign aspect_ratio = 0
                        for block in section.blocks
                            if block.settings.product != blank
                                assign coll_image = block.settings.product.featured_image
                            if coll_image.aspect_ratio > aspect_ratio
                                assign aspect_ratio = coll_image.aspect_ratio
                            endif
                            endif
                        endfor
                        elsif settings.coll_card_image_ratio == 'tallest'
                        assign aspect_ratio = 99
                        for block in section.blocks
                            if block.settings.product != blank
                                assign coll_image = block.settings.product.featured_image
                            if coll_image.aspect_ratio < aspect_ratio
                                assign aspect_ratio = coll_image.aspect_ratio
                            endif
                            endif
                        endfor
                        else
                        assign aspect_ratio = settings.coll_card_image_ratio
                        endif
                    -%}
                    {%- for block in section.blocks -%}
                        {%- unless block.settings.product == blank -%}
                        {%- liquid
                            assign coll_image = block.settings.product.featured_image
                        -%}
                        {% render 'product-slidebar-rotate',
                        product: block.settings.product,
                        aspect_ratio: aspect_ratio,
                        grid_show_vendor: false,
                        items_per_row: section.settings.products_per_row_int,
                        animate: forloop.index
                        %}  
                        {%- else -%}
                        {% render 'onboarding-card',
                            aspect_ratio: aspect_ratio,
                            items_per_row: section.settings.products_per_row_int,
                            is_product: true
                        %}
                        {%- endunless -%}
                    {%- endfor -%}
                    {%- else -%}
                    {%- for i in (1..section.settings.products_per_row_int) -%}
                        {% render 'onboarding-card',
                        items_per_row: section.settings.products_per_row_int,
                        is_product: true
                        %}
                    {%- endfor -%}
                    {%- endif -%}
            </div>
            <div class="rightarrowproducts" id="rightarrow">&gt;</div>
        </div>
        
    </div>
  </div>

  <script>
    if(document.getElementById('slider-bar-products') != null){
        let nav = document.getElementById('hoveredProductDisplay');
        let left = document.getElementById("leftarrow");
        let right = document.getElementById("rightarrow");

        let idx;

        left.addEventListener("mouseenter", function(){
        idx = setInterval(() => nav.scrollLeft -= 1, 10);
        });

        left.addEventListener("mouseleave", function(){
        clearInterval(idx);
        });

        right.addEventListener("mouseenter", function(){
        idx = setInterval(() => nav.scrollLeft += 1, 10);
        });

        right.addEventListener("mouseleave", function(){
        clearInterval(idx);
        });
    }
  </script>
  
  {% schema %}
    {
      "name": "Slidebar Products list",
      "max_blocks": 20,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Slidebar Products list"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "SubTitle",
          "default": "subtitle"
        },
        {
            "type": "range",
            "id": "products_per_row_int",
            "min": 2,
            "max": 5,
            "step": 1,
            "label": "Number of products visible at th time",
            "default": 4
          }
      ],
      "blocks": [
        {
          "type": "product",
          "name": "Product",
          "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Slidebar Products list"
        }
      ]
    }
  {% endschema %}
  